## sum varaible basic python programming

In [51]:
a=10
a

10

# sum varaible basic python programming

In [52]:
# a=10
b=30
c=a+b
c

40

# sum varaible basic python programming

In [54]:
a="vivek"
a

'vivek'

In [58]:
type(a)

str

# sum varaible basic python programming

In [ ]:
___name___="vivek"
___name___

'vivek'

# float type datatype

In [60]:
name = float(input("Enter the Name: "))

Enter the Name: 90

In [61]:
name

90.0

In [62]:
type(name)

float

In [9]:
int(12.34)

12

In [10]:
float(12)

12.0

# sum varaible basic python programming

In [11]:
print("ABC DV")

ABC DV

# seperation and ending pyhton programing

In [12]:
print("My", "Name", "Is", "Vivek", sep = "_", end = "\n")
print("Cool")

My_Name_Is_Vivek
Cool

# seperation and ending pyhton program

In [13]:
print("my", "name", "is", "lokendra", sep = "_",end = "_")
print("hariom")

my_name_is_lokendra_hariom

In [14]:
chr(65)

'A'

# seperation and ending

In [15]:
print("i ","belong", "to", "bihar", "saran", sep ="_", end ="_")
print("my address")

i _belong_to_bihar_saran_my address

In [16]:
39 / 10

3.9

In [17]:
39 // 10

3

In [18]:
"abc" in "abcd"

True

In [19]:
"abc" not in "abcd"

False

In [20]:
10 is "10"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\vk625\AppData\Local\Temp\ipykernel_28648\1802974580.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  10 is "10"

False

In [21]:
"10" is "10"

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\vk625\AppData\Local\Temp\ipykernel_28648\1599107646.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  "10" is "10"

True

In [22]:
10 == "10"

False

# if else statement

In [29]:
print("even number") if int(input("Enter the number"))%2==0 else print("odd number")

Enter the number5
odd number

# check three input variable  which  is greatest

In [26]:
a=int(input("Enter the first number:-"))
b=int(input("Enter the second number:-"))
c=int(input("Enter the third number:-"))
if a>b and a>c:
    print("a is greater than b and  c") 
elif b>a and b>c:
    print("b is greater than c and a")
else:
    print("c is greater than a and b")

Enter the first number:-1
Enter the second number:-2
Enter the third number:-3
c is greater than a and b

# check prime or no prime

In [31]:
n=int(input())
count = 0
for i in range(2,n +1): 
    if(n%i==0):
        count+=1
if(count==1):
    print("prime number")
else:
     print("no prime")

5
prime number

#  start to end program

In [49]:
start,end = int(input("Enter the start number")),int(input("Enter the end number"))
for j in range(start, end + 1):
    count = 0
    for i in range (1,j + 1):
        if(j % i == 0):
            count += 1
    if(count==2):
        print(j,end = "\t")

Enter the start number1
Enter the end number900
2	3	5	7	11	13	17	19	23	29	31	37	41	43	47	53	59	61	67	71	73	79	83	89	97	101	103	107	109	113	127	131	137	139	149	151	157	163	167	173	179	181	191	193	197	199	211	223	227	229	233	239	241	251	257	263	269	271	277	281	283	293	307	311	313	317	331	337	347	349	353	359	367	373	379	383	389	397	401	409	419	421	431	433	439	443	449	457	461	463	467	479	487	491	499	503	509	521	523	541	547	557	563	569	571	577	587	593	599	601	607	613	617	619	631	641	643	647	653	659	661	673	677	683	691	701	709	719	727	733	739	743	751	757	761	769	773	787	797	809	811	821	823	827	829	839	853	857	859	863	877	881	883	887

In [2]:
n=int(input())
a=123
for i in range(a,n)

SyntaxError: expected ':' (2748665255.py, line 3)

In [9]:
for i in range(11):
    if(i==5):
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10

In [13]:
num =int(input())
for i in range(num):
    if(num//2==0):
        print("the number is even number")
else:
    print("the number is odd number")

45
the number is odd number
45

In [ ]:
start,end = int(input()),int(input())
for i in range (start,end+1):
    count=0
    for j in range(1,i+1):
        if i%j==0:
            count+=1
if count==2:
    if i%2==0:
        even-count+1
        else
        odd-

# even and odd pprime number check

In [14]:
start, end = int(input("Enter the start range: ")), int(input("Enter the end range: "))
even_count, odd_count = 0, 0
for i in range(start, end + 1):
    count = 0
    for j in range(1, i + 1):
        if i % j == 0:
            count += 1
    if count == 2:
        if i % 2 == 0:
            even_count += 1
        else:
            odd_count += 1
print("Even Prime Numbers: ", even_count)
print("Odd Prime Numbers: ", odd_count)

Enter the start range: 1
Enter the end range: 100
Even Prime Numbers:  1
Odd Prime Numbers:  24

# check armstrong number

In [40]:
num = int(input("Enter the number"))
arm = 0
temp = num
while num != 0:
    rem = num%10
    arm = arm + rem ** 3
    num = num  // 10
if temp == arm:
    print("Armstrong number")
else:
    print("no armstrong number")

Enter the number153
Armstrong number

# sum of the number of total suppose(124(1+2+4)= 7)

In [39]:
n= int(input())
result= 0
while num!=0:
    rem =num%10
    result += rem
    num //= 10
print("Result:", result)

567
result 0

# check the number is it pallindron or not

In [6]:
n= int(input("Enter any number for checking the pallindrone number"))
temp = n
sum = 0
while(n>0):
    digit = n%10
    sum = (sum*10)+digit
    n = n//10
if temp==sum:
        print("pallindrone number")
else:
        print("no pallindrone number")

Enter any number for checking the pallindrone number656
pallindrone number

# python calculator

In [19]:
num1 = int(input("Enter the first number:-"))
num2 = int(input("Enter the second number:-"))
opr= input("choose and operater(+,-,* //)  ")
if opr=="+":
    print(num1 + num2)
elif opr=="-":
    print(num1 - num2)
elif opr=="*":
    print(num1 * num2)
elif opr=="%":
    print(num1 % num2)
elif opr=="/":
    print(num1 / num2)
else:
    print("invalid operator")

Enter the first number:-45
Enter the second number:-89
choose and operater(+,-,* //)  +
134

# python factorial programming

In [5]:
num = int(input("Enter the number for factorial:-"))
fact = 1
for i in range(1,num+1):
    fact = fact*i
print("factorial of :-num", fact)

Enter the number for factorial:-9
factorial of :-num 362880

# calculator choosing by choice (men_udriven)

In [4]:
while True:
    print(" =================================")
    print(" ===============MENU============")
    print("1. ===ADD OF TWO NUMBERS===========")
    print("2. ==SUBSTRACTION OF TWO NUMBER======")
    print("3. =====multiple of two number=")
    print("4. =====division of two numbers")
    print("7. ==========Moduals===========")
    print("6. ===========float divison===========")
    print("7. ================EXIT===========")
    option = input("choose (1 -7):-")
    if option=="exit":
        break
    a,b= int(input("Enter the first number:")), int(input("Enter the second number:-"))
    if option=="1":
        print("two number of add", a+b)
    elif option=="2":
        print("two number of add", a-b)
    elif option=="3":
        print("two number of add", a*b)
    elif option=="4":
        print("two number of add", a/b)
    elif option=="5":
        print("two number of add", a%b)
    elif option=="6":
        print("two number of add", a//b)

 =================================
 ===============MENU============
1. ===ADD OF TWO NUMBERS===========
2. ==SUBSTRACTION OF TWO NUMBER======
3. =====multiple of two number=
4. =====division of two numbers
7. ==========Moduals===========
6. ===========floor divison===========
7. ================EXIT===========
choose (1 -7):-1
Enter the first number:34
Enter the second number:-78
two number of add 112
 =================================
 ===============MENU============
1. ===ADD OF TWO NUMBERS===========
2. ==SUBSTRACTION OF TWO NUMBER======
3. =====multiple of two number=
4. =====division of two numbers
7. ==========Moduals===========
6. ===========floor divison===========
7. ================EXIT===========
choose (1 -7):-exit

In [1]:
while True:
    print(" =================================")
    print(" ===============MENU============")
    print("1. ===Area of circle===========")
    print("2. ==Area of  square==")
    print("3. ====Area of quadilateral=")
    print("4. ====Area of triangle====")
    print("5. =====EXIT=====")
    option = input("choose (1 -5):-")
    if option=="exit":
        break
    if option=="1":
        r= int(input("Enter the number for area of circle  "))
        print("Area of circle:-",(3.14 * r * r) )
    elif option=="2":
        a = int(input("Enter the number for find the area of square:-"))
        print("Area of square:-" ,(a*a))
    elif option=="3":
        a,b = int(input("Enter the length ")),int(input("Enter the breadth"))
        print("Area of quadilateral",(a*b))
    elif option=="4":
        b,h = int(input("Enter the base of triangle:-")), int(input("Enter the height of triangle:-"))
        print("Area of triangle",(b *h)/2)

 =================================
 ===============MENU============
1. ===Area of circle===========
2. ==Area of  square==
3. ====Area of quadilateral=
4. ====Area of triangle====
5. =====EXIT=====
choose (1 -5):-1
Enter the number for area of circle  5
Area of circle:- 78.5
 =================================
 ===============MENU============
1. ===Area of circle===========
2. ==Area of  square==
3. ====Area of quadilateral=
4. ====Area of triangle====
5. =====EXIT=====
choose (1 -5):-exit

In [17]:
num = int(input("Enter the number for print the table:-"))
for i in range(1, 11):
    print("{} *{} = {}".format(num, i, num*i))

Enter the number for print the table:-5
5 *1 = 5
5 *2 = 10
5 *3 = 15
5 *4 = 20
5 *5 = 25
5 *6 = 30
5 *7 = 35
5 *8 = 40
5 *9 = 45
5 *10 = 50

In [9]:
name=input("Enter Name: ")

Enter Name: hariom kumar vishwakarma

In [11]:
first,middle,last=name.split(" ")

In [12]:
" ".join([first,middle,last])

'hariom kumar vishwakarma'

In [13]:
name.upper()

'HARIOM KUMAR VISHWAKARMA'

In [14]:
name.lower()

'hariom kumar vishwakarma'

In [15]:
name.capitalize() #frist latter capital in whole stantance

'Hariom kumar vishwakarma'

In [16]:
name.title()#first name capital in each word

'Hariom Kumar Vishwakarma'

In [17]:
len(name)#it count the charecter in the sentance

24

In [18]:
len(name.split()) #word count in a stetament

3

In [19]:
" center".center(30,"=") #it use for print word in center

'=========== center============'

In [20]:
name.count("a")#it count the cahrecter which present in the  sentence

5

# string slising

In [21]:
name[10:16]# (:)is slice opreter

'ar vis'

In [ ]:
'''''
[star,end,step ]
    
[0,-1,1]''' #defult value

In [27]:
name[:]#it print start to end stetment

'hariom kumar vishwakarma'

In [24]:
name[7]#it print the charecter which present in index 7

'k'

In [28]:
name[7:]# it start to index 7 to end

'kumar vishwakarma'

In [29]:
name[:6]#it print start to index 6

'hariom'

In [30]:
name[: : -1]#it reverce all the charecter which present in the sentence

'amrakawhsiv ramuk moirah'

In [31]:
for i in name: # looping throw string it go all charecter induvisualy and print
    print(i)

h
a
r
i
o
m

k
u
m
a
r

v
i
s
h
w
a
k
a
r
m
a

In [37]:
count=0
for i in name:
    count+=1
print(count)

24

# count the duplicate character in the string

In [1]:
string=input("Enter the name")
count=0
temp=""
for i in string:
    if i not in temp:
        temp+=i
        if string.count(i)>1:
            count+=1
print(count)
print(temp)

KeyboardInterrupt: Interrupted by user

# Python program to interchange first and last elements in a list

In [6]:
n=[12,36,9,23,24]
size=len(n)
temp=n[0]
n[0]=n[size-1]
n[size-1]=temp
print(n)

[24, 36, 9, 23, 12]

# write a python program to swap the two number in the list

In [9]:
n=[12,33,44,54,76,87]
size=len(n)
temp=n[0]
n[0]=n[2]
n[2]=temp
print(n)

[44, 33, 12, 54, 76, 87]

# way to find length of string

In [12]:
list=[45,3,6,4,75,76,76]
print("length of string is ",len(list))

length of string is  7

# maximum find of two number

In [15]:
''''a,b=int(input("First number:- ")),int(input("Second number:- "))
print(max(a,b))'''

#second method
a,b=int(input("Entert the first number:- ")),int(input("Enter the second number:- "))
if a>b:
    print(a)
elif b>b:
    print(b)

Entert the first number:- 44
Enter the second number:- 1
44

# minimum of two number

In [17]:
''''a,b=int(input("Entert the first number:- ")),int(input("Enter the second number:- "))
print(min(a,b))'''

#second method
a,b=int(input("Entert the first number:- ")),int(input("Enter the second number:- "))
if a>b:
    print(b)
elif b>a:
    print(a)

Entert the first number:- 45
Enter the second number:- 5
5

# way to check number is exist in list are not

In [28]:
lis=[78,4,53,223,454,65,98]
n=int(input("Enter the number:- "))
if n in lis:
    print("exist",n)
else:
    print("Not exist ",n)

Enter the number:- 12
Not exist  12

# way to clear the list

In [30]:
lis=[12,74,42,98]
print("Your list is ",lis)
lis.clear()# clear function is used to clear the value in the list
print("list is clear",lis)

Your list is  [12, 74, 42, 98]
list is clear []

# way to revercing the list

In [33]:
lis=[12,74,42,98]
print("Before revarcing ",lis)
rev=lis[: : -1]
print("After revercing ",rev)

Before revarcing  [12, 74, 42, 98]
After revercing  [98, 42, 74, 12]

# way to copy the value of variable

In [36]:
''''#using oprater 
lis1=[12,74,42,98]
lis2=lis1
print("Without copy ",lis1)
print("copyed ",lis2)'''

# Using the copy() method
lis1=[23,4,54,56,76,22]
lis2=lis1.copy()
print("Before copy ",lis1)
print("After copy ",lis2)

Before copy  [23, 4, 54, 56, 76, 22]
After copy  [23, 4, 54, 56, 76, 22]

# print capital number space in even number

In [13]:
name=input("Enter the string: ")
for i in range(len(name)):
    if i%2==0:
         print(name[i].upper(),end="")
    else:
        print(name[i].lower(),end="")

Enter the string: hariom
HaRiOm

# search substring in string

In [22]:
print(True) if input("frist string 2: ") in input("second string 1: ") else print(False)

frist string 2: hariom
second string 1: hariom vish
True

# count the string and number

string=input("Enter the string: ")
count=0
char=0
for i in string:
    if i.isalpha():
        char+=1
    elif i.isdigit():
        count+=1
print(count)
print(char)

# print unic character

In [40]:
first=input("Enter first string: ")
second=input("Enter the second string ")
for i in second:
    if i not in first:
        print(i, end = "\t")

Enter first string: abcde
Enter the second string abcdxy
x	y

# charector count

In [46]:
first=input("Enter the string: ")
temp = ""
for i in first:
    if i not in temp:
        print("{} Count: {}".format(i, first.count(i)))
        temp += i

Enter the string: abcdabcdabcd
a Count: 3
b Count: 3
c Count: 3
d Count: 3

In [11]:
lest=[1,3,2,4,"34","abcd"]

In [18]:
lest[:5:2]

[1, 2, '34']

##

# list function

In [34]:
list1=[1,2,3,4,5]
list2=["1","2","3","4","5"]

In [35]:
list1.append(3)
print(list1)

[1, 2, 3, 4, 5, 3]

In [40]:
list2.append(1)
print(list2)

['1', '2', '3', '4', '5', 1, 1, 1, 1]

In [41]:
list1=[1,2,3,4,5]
list2=["1","2","3","4","5"]

In [44]:
list1.extend(list2) 
print(list1)

[1, 2, 3, 4, 5, '1', '2', '3', '4', '5', '1', '2', '3', '4', '5']

In [45]:
list1.append(list2)
print(list1)

[1, 2, 3, 4, 5, '1', '2', '3', '4', '5', '1', '2', '3', '4', '5', ['1', '2', '3', '4', '5']]

In [48]:
list1=[1,2,3,4,5]

In [49]:
list1.remove(4)#remove method is emove the only one element
list1

[1, 2, 3, 5]

In [50]:
list1.index(3)#here 3 is element index provied the index of element

2

In [51]:
list1.clear()#clear method is use for clear all the list

In [52]:
list1

[]

In [53]:
list1=[1,2,3,4,5]
list2=["1","2","3","4","5"]

In [54]:
del(list1)# del method is use for deleting the entair variable in the memory

In [55]:
list1

NameError: name 'list1' is not defined

In [56]:
list2=["1","78","3","40","9"]

In [58]:
list2.sort()#sort is use for sorting all the element in list in asending order

In [59]:
list2

['1', '3', '40', '78', '9']

In [62]:
list1=[8,2,7,1,5]
list1.sort()# it sort the list in assending order
print(list1)
list1.reverse()
print(list1)

[1, 2, 5, 7, 8]
[8, 7, 5, 2, 1]

In [64]:
# insert(index,value) it add the value according your choice
list1=[8,2,7,1,5]
list1.insert(1,9)
print(list1)

[8, 9, 2, 7, 1, 5]

In [66]:
list1=[8,2,7,1,5] #pop method is use for remove last element in the list
list1.pop(1)# here 1 is index value
print(list1)

[8, 7, 1, 5]

In [72]:
list1=[]
for i in range(1,10+1):
    list1.append(i)
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [74]:
list1=[]
for i in range(1,10+1):
    list1.append(i)
print(list1)
for i in range(list1):
    list1.reverse(list1)
    print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

TypeError: 'list' object cannot be interpreted as an integer

# list comparihension

In [77]:
list_comp=[i for i in range(11) if (i%2==1)]# list comparihesion 
print(list_comp)

[1, 3, 5, 7, 9]

In [78]:
string = "abcdabcdefabcd"
sub_string = "abcd"
print(string.count(sub_string))

3

# count the sub_string in the list

In [83]:
string = "abcdcdc"
sub_string="cdc"
count = 0
for i in range(len(string) - len(sub_string) + 1):
    if string[i] == sub_string[0]:
        k = i
        for j in range(len(sub_string)):
            if sub_string[j] == string[k]:
                k += 1
            else:
                break
            if len(sub_string) == k - i:
                count += 1
print(count)

2

In [5]:
sample=list(map(int,input("Enter the number").split()))
list1=[]
list2=[]
for i in sample:
    if i%2==0:
         list1.append(i)
    else:
        list2.append(i)
print(list1)
print(list2)

Enter the number1 2 3 4 5 6
[2, 4, 6]
[1, 3, 5]

In [2]:
type(list1)

int

In [6]:
sample

[1, 2, 3, 4, 5, 6]

In [8]:
sum(sample)/len(sample)

3.5

# second largest number in a list

In [16]:
list_1 = list(map(int, input().split()))
list_1.sort()

1 4 3 2

# find the second largest number in list

In [17]:
list_1[-2]

3

In [55]:
list1

['a', 'ab', 'abc', 'abcd']

# swap the element

In [56]:
list1[-1],list1[0]=list1[0],list1[-1]
print(list1)

['abcd', 'ab', 'abc', 'a']

In [26]:
list1

[4, 2, 3, 1]

# removing duplicate value in the list

In [45]:
list1=list(map(int,input().split()))
dup=[]
for i in list1:
    if i not in dup:
        dup.append(i)
print(dup)

1 1
[1]

# find maximum length of given string

In [53]:
list1=input().split()
res = 0
for i in list1:
    if len(i) > res:
        res = len(i)
res

a ab abc abcd

4

# tuple

# declearation

In [1]:
tuple_1=(1,2,3,4,5,6,7)

# list to tuple

In [2]:
tuple_1=tuple([1,2,3,4,5,6,7])

In [3]:
tuple_1

(1, 2, 3, 4, 5, 6, 7)

In [4]:
type(tuple_1)

tuple

In [5]:
tuple_1.index(3)

2

In [6]:
tuple_1.count(2)#count the element in tuple

1

In [7]:
set_1={2,3,1,4,6,2}# set is not countaint duplicate value and print sorted order
set_1

{1, 2, 3, 4, 6}

In [8]:
set_1={1,2,3,4,5,6,7,8,9,10}
set_2={2,4,6,8,10,12}

In [9]:
set_1.union(set_2)#union is add number without duplicate value

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12}

In [10]:
set_1.intersection(set_2)# it print comman value in both set

{2, 4, 6, 8, 10}

In [12]:
set_1.intersection_update(set_2) # it update the value from set_2 to set_1

In [13]:
set_1

{2, 4, 6, 8, 10}

# coprihansion

In [18]:
x=int(input())
y=int(input())
z=int(input())
n=int(input())
list_1=[]
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            if i+j+k!=n:
                list_1.append([i,j,k])
print(list_1)

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [28]:
sorted(list({-10, 0, 10}))

[-10, 0, 10]

In [17]:
list_1=[]
for i in range(int(input())):
    name=input()
    score=float(input())
    list_1.append([name, score])
list_1.sort()
print(list_1)

5
harry
37.21
barry
37.21
tina
37.2
akriti
41
harsh
39
[['akriti', 41.0], ['barry', 37.21], ['harry', 37.21], ['harsh', 39.0], ['tina', 37.2]]

In [18]:
list_1=[1,2,3,2,3,2]
set(list_1)

{1, 2, 3}

In [19]:
37.2 > 37.21

False

In [20]:
37.21 > 37.2

True

In [24]:
list_1 = []
for i in range(int(input())):
    name = input()
    score = float(input())
    list_1.append([name, score])
for i in range(len(list_1) - 1):
    for j in range(i, len(list_1)):
        if list_1[i][1] > list_1[j][1]:
            list_1[i], list_1[j] = list_1[j], list_1[i]
second = list(set([i[1] for i in list_1 ]))
print(list_1, second)
for i in list_1:
    if second in i:
        print(i[0])

4
Prashant
32
Pallavi
36
Dheeraj
39
Shivam
40
[['Prashant', 32.0], ['Pallavi', 36.0], ['Dheeraj', 39.0], ['Shivam', 40.0]] [32.0, 40.0, 36.0, 39.0]

In [ ]:
# dictionary

# Declaration

In [1]:
temp = { 1:"2",1:"3"} # it updata depanding on last number

In [2]:
temp

{1: '3'}

In [ ]:
student = {"name":["ayush",]}

In [1]:
row=int(input("Enter the row: "))
columns=row*3
width=columns
for i in range(0,int(row/2)):
    pattern='.|.'*((2*i)+1)
    print(pattern.center(width,'-'))
print("WELLCOME".center(width,'-'))
i=int(row/2)
while i>0:
    pattern='.|.'*((2*i)-1)
    print(pattern.center(width,'-'))
    i=i-1

Enter the row: 7
---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------WELLCOME------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

In [25]:

n=int(input("Enter the end number: "))
for i in range(1,n+1):
    for j in range(i,n+1):
        print("*",end=" ")
    print()
for l in range(1,n+1):
    for k in range(l,n+1):
        print(k)
    print()

Enter the end number: 5
* * * * *
* * * *
* * *
* *
*
1
2
3
4
5

2
3
4
5

3
4
5

4
5

5

In [31]:
n=int(input())
for i in range(1,n+1):
    for j in range(i,n+1):
        print(i*j ,end=" ")
    print()

5
1 2 3 4 5
4 6 8 10
9 12 15
16 20
25

In [7]:
n, m = map(int,input().split())
pattern = [('.|.'*(2*i + 1)).center(m, '-') for i in range(n//2)]
print('\n'.join(pattern + ['WELCOME'.center(m, '-')] + pattern[::-1]))

7 21
---------.|.---------
------.|..|..|.------
---.|..|..|..|..|.---
-------WELCOME-------
---.|..|..|..|..|.---
------.|..|..|.------
---------.|.---------

In [10]:
temp="12345678910"

In [11]:
temp[::-1]

'01987654321'

In [32]:
n=int(input())
list=[]
for i in range(1,n+1):
    list[i]=n%8
    n=n/8
    print(list[i])

KeyboardInterrupt: Interrupted by user

In [ ]:
list_1=[]
for i in range(int(input())):
    name=input("name")
    list_1.append(name)
print(list_1)

5
namehariom
nameayush
namevivek

# 0 1 1 2 3 5 8 .... FEBONACII SEREASE

In [11]:
n=int(input())
a1=0
a2=1
for i in range(n-2):
    print(a1+a2)
    a3=a1+a2
    a1=a2
    a2=a3

12
1
2
3
5
8
13
21
34
55
89

In [ ]:
# input = "my name is hariom"
output =

In [21]:
list1 =str(input())
print("number count", len(list1))
print("word count", len(list1.split()))

my name is hariom vishwakarma
number count 29
word count 5

In [ ]:
"""
sample input: 

STDIN       Function
-----       --------
AABCAAADA   s = 'AABCAAADA'
3           k = 3
Sample Output

AB
CA
AD"""

In [57]:
string="aaabaacaada"
k=5
l=len(string)//k
print(l)
for i in range(l):
    print("".join)

2

In [3]:
from collections import OrderedDict as od

def merge_the_tools(string, k):
    l = len(string)//k
    for i in range(l):
        print(''.join(od.fromkeys(string[i*k:(i*k)+k])))


if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

AABCAAADA
3
AB
CA
AD

In [30]:
string="AABCAAADA"
k=3
list1=[]
list2=[]
list3=[]
for i in string:
    if i is string:
        list1.append(string)
print(list1)

[]

In [22]:
list1="hhhhhh"
list1=set(list1)

In [23]:
list1

{'h'}

# marge tool in hekerrank

In [6]:
S = input()
k = int(input())

temp = []
length = 0

for i in S:
  length += 1
  if i not in temp:
    temp.append(i)
  
  if length == k:
    print("".join(temp))
    temp = []
    length = 0

aabcaaada
3
ab
ca
ad

In [23]:

string=input("Enter the string: ")
total=0
total1=0
count=0
while True:
    sub_string=input("sub_string1 : ")
    if sub_string=='EXIT'or sub_string=='exit':
        break
    if sub_string in string:
        count1=string.count(sub_string)
        total+=count1
        print(total)

while True:
    sub_string=input("sub_string2 : ")
    if sub_string=='EXIT'or sub_string=='exit':
        break
    if sub_string in string:
        count1=string.count(sub_string)
        total1+=count1
        print(total1)

Enter the string: banana
sub_string1 : an
2
sub_string1 : ba
3
sub_string1 : n
5
sub_string1 : exit
sub_string2 : EXIT

In [5]:
string = input()
kevin, stuart = 0, 0
for i in range(len(string)):
    if string[i] in "AEIOU":
        kevin = kevin + len(string[i : ])
    else:
        stuart = stuart + len(string[i : ])
if kevin > stuart:
    print("Kevin ", kevin)
elif stuart > kevin:
    print("Stuart ", stuart)
else:
    print("Draw")

banana
Stuart  21

In [18]:
print("twinkle,twinkle,littile star,\n   how ni wonder what your are!\n\t up above the world so high,\n\t like a dismond in the sky,\ntwinkle twinkle littile star,\n   how i wonder what you are")

twinkle,twinkle,littile star,
   how ni wonder what your are!
	 up above the world so high,
	 like a dismond in the sky,
twinkle twinkle littile star,
   how i wonder what you are

In [19]:
import sys
print("python version",sys.version)
print("python info.",sys.version_info)

python version 3.11.3 | packaged by Anaconda, Inc. | (main, Apr 19 2023, 23:46:34) [MSC v.1916 64 bit (AMD64)]
python info. sys.version_info(major=3, minor=11, micro=3, releaselevel='final', serial=0)

In [27]:
import datetime
now = datetime.datetime.now()# date time is sub class
print(now.strftime("%D/%M/%Y %H:%M:%S"))

08/14/23/34/2023 18:34:31

In [28]:
redius=float(input())
area=redius*redius*(22/7)
print(area)

45.6
6535.131428571429

In [33]:
first_name=input("Enter the first name: ")
second_name=input("Enter the second name: ")
print(first_name[: : -1] ,end=" ")
print(second_name[: : -1])

Enter the first name: hariom
Enter the second name: vishwakrma
moirah amrkawhsiv

In [45]:
string=input("Enter the number with seprated wih comma : ")
list=string.split(",")
print("list is ",list)
print("tuple is" ,tuple(string))

Enter the number with seprated wih comma : 1,2,3,4,5,6,7
list is  ['1', '2', '3', '4', '5', '6', '7']
tuple is ('1', ',', '2', ',', '3', ',', '4', ',', '5', ',', '6', ',', '7')

# for extention find

In [47]:
filename=input("Enter the filename: ")
f_name=filename.split(".")
print("extetion of this file are: ",repr(f_name[-1]))

Enter the filename: abc.java
extetion of this file are:  'java'

In [48]:
a=int(input())
b=int(input())
c=int(input())
max(a,b,c)

23
45
68

68

In [76]:
s=[1,2,3,4,5,6,7]
k=0
for i in s:
    k=i*i
print(k)

49

In [78]:
print(s[: : -1])

[7, 6, 5, 4, 3, 2, 1]

In [85]:
n=int(input("Enter the positive number only "))
k=1
for i in range(1,n+1):
    k=k*i
print(k)

Enter the positive number only 5
120

# duplicate charecter remove in the list

In [21]:
def remove(string):
    dup=[]
    for i in string:
        if i in string:
            dup.append(i)
    for i in dup:
        if dup.count(i)>=2:
            for j in range(2):
                dup.remove(i)
    print(" ".join(dup))
string=input()
remove(string)

vvinaauudiua
i n d i u a
None

In [20]:
temp=open('sample.txt',"r")#open functiom for open file

In [17]:
temp.read()
temp.close()

'hii my name is hariom vishawkaram\nage 23\nsex male'

In [21]:
k=temp.read()
print(k)

hii my name is hariom vishawkaram
age 23
sex male

In [28]:
temp=open("c:\dog.java","r")
temp.close()

In [30]:
k=temp.read()
print(k)
temp.close()

ublic class Dog extends
 java .applet.Applet
{
    public void init()
    {

        setLayout(new FlowLayout(FlowLayout.LEFT));

        add(new Label("Name          :"));
        add(new TextField(10));

        add(new Label("Address       :"));
        add(new TextField(10));

        add(new Label("Birthday      :"));
        add(new TextField(10));


        add(new Label("Gender        :"));
        Choice gender = new Choice();
        gender.addItem("Man");
        gender.addItem("Woman");
        Component add = add(gender);

        add(new Label("Job            :"));
        CheckboxGroup job = new CheckboxGroup();
        add(new Checkbox("Student", job, false));
        add(new Checkbox("Teacher", job, false));

        add(new Button("Register"));
        add(new Button("Exit"));
        }
}

In [37]:
temp=open("sample.txt","w")

In [38]:
temp.write("address bhilai")
temp.close

14

In [40]:
temp=open("sample.txt","r")
k=temp.read()
print(k)
temp.close()

address bhilai

In [46]:
temp=open("sample.txt","a")
temp.write("\nhii my name is hariom\nage 23\nsex male")
temp.close()

In [47]:
temp=open("sample.txt","r")
k=temp.read()
print(k)
temp.close()

address bhilaihii my name is hariom
age 23
sex male
hii my name is hariom
age 23
sex male

In [48]:
n=input()
temp=open("sample.txta","a")
temp.write(n)
temp.close()
temp1=open("sample.txt","r")
k=temp1.read()
print(k)

college-rungta instetute of engineering and technology bhilai
address bhilaihii my name is hariom
age 23
sex male
hii my name is hariom
age 23
sex male

In [51]:
temp=open("C:\dog.java","r")
k=temp.read()
temp.close()
temp1=open("sample.txt","a")
temp1.write(k)
temp1.close()
temp2=open("sample.txt","r")
k=temp2.read()
print(k)

address bhilaihii my name is hariom
age 23
sex male
hii my name is hariom
age 23
sex maleimport java.awt.*;
public class Dog extends
 java .applet.Applet
{
    public void init()
    {

        setLayout(new FlowLayout(FlowLayout.LEFT));

        add(new Label("Name          :"));
        add(new TextField(10));

        add(new Label("Address       :"));
        add(new TextField(10));

        add(new Label("Birthday      :"));
        add(new TextField(10));


        add(new Label("Gender        :"));
        Choice gender = new Choice();
        gender.addItem("Man");
        gender.addItem("Woman");
        Component add = add(gender);

        add(new Label("Job            :"));
        CheckboxGroup job = new CheckboxGroup();
        add(new Checkbox("Student", job, false));
        add(new Checkbox("Teacher", job, false));

        add(new Button("Register"));
        add(new Button("Exit"));
        }
}

In [54]:
copy=""
temp=open("c:\\fish.java","r")
copy += temp.read()
temp.close()
temp1=open("c:\\hms.java","r")
copy += temp1.read()
temp1.close()
temp2=open("c:\\dog.java","r")
copy += temp2.read()
temp2.close()
temp3=open("sample.txt","a")
temp3.write(copy)
temp3.close()
temp4=open("sample.txt","r")
k=temp4.read()
print(k)

address bhilaihii my name is hariom
age 23
sex male
hii my name is hariom
age 23
sex maleimport java.awt.*;
public class Dog extends
 java .applet.Applet
{
    public void init()
    {

        setLayout(new FlowLayout(FlowLayout.LEFT));

        add(new Label("Name          :"));
        add(new TextField(10));

        add(new Label("Address       :"));
        add(new TextField(10));

        add(new Label("Birthday      :"));
        add(new TextField(10));


        add(new Label("Gender        :"));
        Choice gender = new Choice();
        gender.addItem("Man");
        gender.addItem("Woman");
        Component add = add(gender);

        add(new Label("Job            :"));
        CheckboxGroup job = new CheckboxGroup();
        add(new Checkbox("Student", job, false));
        add(new Checkbox("Teacher", job, false));

        add(new Button("Register"));
        add(new Button("Exit"));
        }
}hii my name is hariom
age 23
sex maleimport java.awt.*;
public class fish extends java.applet.Applet
{
    public void init()
    {

        setLayout(new FlowLayout(FlowLayout.LEFT));

        add(new Label("Name          :"));
        add(new TextField(10));

        add(new Label("Address       :"));
        add(new TextField(10));

        add(new Label("Birthday      :"));
        add(new TextField(10));


        add(new Label("Gender        :"));
        Choice gender = new Choice();
        gender.addItem("Man");
        gender.addItem("Woman");
        Component add = add(gender);

        add(new Label("Job            :"));
        CheckboxGroup job = new CheckboxGroup();
        add(new Checkbox("Student", job, false));
        add(new Checkbox("Teacher", job, false));

        add(new Button("Register"));
        add(new Button("Exit"));
        }
}import java.awt.*;
public class Tes extends java.applet.Applet
{
    public void init()
    {

        setLayout(new FlowLayout(FlowLayout.LEFT));

        add(new Label("Name          :"));
        add(new TextField(10));

        add(new Label("Address       :"));
        add(new TextField(10));

        add(new Label("Birthday      :"));
        add(new TextField(10));


        add(new Label("Gender        :"));
        Choice gender = new Choice();
        gender.addItem("Man");
        gender.addItem("Woman");
        Component add = add(gender);

        add(new Label("Job            :"));
        CheckboxGroup job = new CheckboxGroup();
        add(new Checkbox("Student", job, false));
        add(new Checkbox("Teacher", job, false));

        add(new Button("Register"));
        add(new Button("Exit"));
        }
}import java.awt.*;
public class Dog extends
 java .applet.Applet
{
    public void init()
    {

        setLayout(new FlowLayout(FlowLayout.LEFT));

        add(new Label("Name          :"));
        add(new TextField(10));

        add(new Label("Address       :"));
        add(new TextField(10));

        add(new Label("Birthday      :"));
        add(new TextField(10));


        add(new Label("Gender        :"));
        Choice gender = new Choice();
        gender.addItem("Man");
        gender.addItem("Woman");
        Component add = add(gender);

        add(new Label("Job            :"));
        CheckboxGroup job = new CheckboxGroup();
        add(new Checkbox("Student", job, false));
        add(new Checkbox("Teacher", job, false));

        add(new Button("Register"));
        add(new Button("Exit"));
        }
}